*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #979797;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 130px;
    gap: 70px;
}

#left{
    height: 100%;
    width: 46%;
    /* background-color: #ff9100; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    /* font-size: 125px; */
    font-size: 8.5vw;
    font-weight: 500;
    /* line-height: 125px; */
    line-height: 8.5vw;
    font-family: Work sans;
}

#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: #acacac; */
}

#color{
    /* background-color: #fff; */
    width: fit-content;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}

#color h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 480;
}

#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 2.89px;
}

#color2{
    height: 20px;
    width: 20px;
    background-color: rgb(25, 28, 29);
    border-radius: 50%;
}

#left h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 38px;
    /* font-size: 30px; */
    font-size: 2.5vw;
    margin-bottom: 14px;
}

#left p{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 19.7px; */
    font-size: 1.5vw;
    width: 85%;
    font-weight: 400;
    color: #262626;
    line-height: 22px;
}

#right{

    height: 90%;
    width: 33%;
    /* background-color: #cc1818; */
    position: relative;
}

#right-top{
    height: 80px;
    width: 100%;
    padding-right: 18px;
    /* background-color: #2d3bd6; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#right-top h4{
    font-family: Work sans;
    font-size: 25px;
    font-weight: 500;
}
#right-top h5{
    font-size: 15px;
}

#right-top h5 i{
    color:  rgb(255, 255, 255);
    /* opacity: 0; */
    /* border: 0.5px solid black; */
}

#right-top h5 i:hover{
    color: goldenrod;
    opacity: 1;
}

#right img{
    width: 100%;
    height: 84.63%;
    object-fit: cover;
}

#black-gola{
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: #222124;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -17.6%;
    top: 26%;
}

#black-gola h5{
    font-family: Work sans;
    font-size: 23px;
    font-weight: 500;
    color: #ebe0ff;
}

#rotated{
    position: absolute;
    left: -11%;
    bottom: 2%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 28px;
    font-weight: 450;
    font-family: Work sans;
}

@media (max-width:600px) {
    #main{
        height: 100%;
        width: 100%;
        background-color: #979797;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding:5px 30px;
        padding-top: 30px;
        gap: 20px;
    }
    
    #left{
        height: 50%;
        width: 100%;
        /* background-color: #ff9100; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 2px;
        gap: 30px;
    }
    
    #left h1{
        /* font-size: 125px; */
        font-size: 15vw;
        font-weight: 500;
        /* line-height: 125px; */
        line-height: 16vw;
        font-family: Work sans;
    }
    
    #bottom-left{
        height:59%;
        width: 100%;
        /* background-color: #acacac; */
    }
    
    #color{
        /* background-color: #fff; */
        width: fit-content;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid black;
    }
    
    #color h5{
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: #fff; */
        font-size: 16px;
        margin-right: 10px;
        font-weight: 480;
    }
    
    #color1{
        height: 13px;
        width: 13px;
        background-color: burlywood;
        border-radius: 50%;
        margin: 2.89px;
    }
    
    #color2{
        height: 13px;
        width: 13px;
        background-color: rgb(25, 28, 29);
        border-radius: 50%;
    }
    
    #left h2{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        /* font-size: 30px; */
        font-size: 2.6vw;
        margin-bottom: 9.9px;
    }
    
    #left p{
        font-family: Arial, Helvetica, sans-serif;
        /* font-size: 19.7px; */
        font-size: 1.99vw;
        width: 86%;
        font-weight: 590;
        color: #262626;
        /* line-height: 10px; */
        line-height: 2.5vw;
    }
    
    #right{
    
        height: 50%;
        width: 100%;
        /* background-color: #cc1818; */
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #right-top{
        height: 60px;
        width: 100%;
        padding-right: 0px;
        /* background-color: #2d3bd6; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #right-top h4{
        font-family: Work sans;
        font-size: 20px;
        font-weight: 500;
    }
    #right-top h5{
        font-size: 15px;
    }
    
    #right-top h5 i{
        color: goldenrod;
        opacity: 1;
        /* border: 0.5px solid black; */
    }
    
    #right img{
        width: 100%;
        height: 85%;
        object-fit: cover;
    }
    
    #black-gola{
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: #222124;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -9.8%;
        top: 29%;
    }
    
    #black-gola h5{
        font-family: Work sans;
        font-size: 16px;
        font-weight: 400;
        color: #ebe0ff;
    }
    
    #rotated{
        position: absolute;
        left: 1.1%;
        top: -10.8%;
        bottom: 2%;
        rotate: 0deg;
        transform-origin: 0 0;
        font-size: 28px;
        font-weight: 450;
        font-family: Work sans;
    }
}